/* variables */
:root {
    --darkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkGreyishMagenta: hsl(303, 10%, 53%);
    --lightGreyishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: LeagueSpartan;
    src: url('/assets/LeagueSpartan/static/LeagueSpartan-Regular.ttf');
}

/* base styles */
body {
    font-size: 15px;
    background-image: url('/images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center, bottom right;
    background-attachment: scroll;
    padding: 80px 30px 50px 30px;
    text-align: center;
    font-family: LeagueSpartan;
}
header {
    margin-bottom: 30px;
}
header h2{
    padding: 0 50px;
    font-size: 2em;
    font-weight: 900;
    color: var(--darkMagenta);
}
 .small_text {
    color: var(--darkGreyishMagenta);
    padding: 0 10px;
    font-size: 1em;
    margin-bottom: 30px;
    line-height: 1.4;
}
 #rating {
    margin-bottom: 40px;
}
 .rated {
    background-color: var(--lightGreyishMagenta);
    padding: 15px 0;
    margin-bottom: 15px;
}
 .rated .stars {
    margin-bottom: 10px;
}
 .rated .my_rating {
    font-weight: 900;
    color: var(--darkMagenta);
}
.stars img {
    width: 100%;
    max-width: 4.5%;
}
.cards {
    background-color: var(--darkMagenta);
    color: white;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}
.flex_cards {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.name {
    margin-left: 20px;
}
p.verified {
    color: var(--softPink);
    margin-top: 5px;
}
p.description {
    line-height: 1.4;
}
.cards img {
    height: 35px;
    border-radius: 30px;
} 

@media screen and (min-width: 550px) and (max-width: 1200px) {
    body .container {
        margin: 0 auto;
        max-width: 550px;
    }
}

@media screen and (min-width:1200px) {
    * {
        box-sizing: border-box;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
    }
    body {
        margin: 0;
        padding: 0;
        background-image: url('./images/bg-pattern-top-desktop.svg'), url('/images/bg-pattern-bottom-desktop.svg');
        background-position: top left, bottom right;
        font-size: 18px;
        text-align: left;
    }
    body .container {
        margin: 0 auto;
        max-width: 1100px;
        margin-top: 120px;
    }
    header{
        grid-column: 1/5;
        grid-row: 1;
    }
    header h2 {
        font-size: 3em;
        padding: 0 100px 0 0;
    }
    p.small_text {
        grid-column: 1/5;
        grid-row: 1;
        position: relative;
        margin-top: 44%;
        padding-right: 60px;
    }
    #rating {
        grid-column: 5/10;
        grid-row: 1;
        text-align: center;
        margin-top: 10%;
        grid-template-rows: repeat(3, 70px)
    }
    .rated {
         /* height: 50px; */
         margin: 0;
         padding: 0;
         height: 50px;
         padding-top: 12px;
    }
    .stars {
        display: inline;
        margin-bottom: 0px;
    }
    .my_rating {
        display: inline;
        margin-left: 30px;
    }
    .stars img {
        max-width: 3%;
    }
    .rated:nth-child(1) {
        grid-column: 1/7;
        grid-row: 1;
    }
    .rated:nth-child(2) {
        grid-column: 2/8;
        grid-row: 2;
    }
    .rated:nth-child(3) {
        grid-column: 3/9;
        grid-row: 3;
    }
    .feedback {
        grid-column: 1/-1;
        grid-row: 2;
    }
    .cards {
        width: 340px;
        height: 100%;
        padding-bottom: 0;
    }
    .description {
        font-size: 0.9em;
    }
    .cards:nth-child(1) {
        grid-column: 1/3;
    }
    .cards:nth-child(2) {
        grid-column: 4/6;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .cards:nth-child(3) {
        grid-column: 7/9;
        margin-top: 40px;
        margin-bottom: 0;
    }
}